
#pop-up-modal {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  background-color: #ccc;
  z-index: 1;
  display: none;
}

#pop-up-modal img {
  width: 100%;
}

#pop-up-modal #iknow {
  position: absolute;
  bottom: 30px;
  right: 50px;
  width: 240px;
}