
#pop-up-modal {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  background-color: #ccc;
  z-index: 1;
  display: none;
}

#pop-up-modal img {
  width: 100%;
}

#pop-up-modal #iknow {
  position: absolute;
  bottom: 30px;
  right: 50px;
  width: 240px;
}

.shake-rotate.shake-constant {
    animation: shake-rotate 5s ease-in-out infinite;
}

.camper-wrapper h3, .camper-wrapper h2 {
  display: inline-block;
}

.camper-wrapper h2 {
  margin-left: 20px;
  margin-right: 10px;
  color: rgb(0, 128, 0);
}

.img-wrapper {
  box-sizing: border-box;
  padding: 0 20px;
}

.img-wrapper img {
  width: 100%;
}

.intro-img {
  width: 50%;
  padding-top: 50%;
  float: left;
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
}

.intro-img .info {
  position: absolute;
  padding: 8px;
  background-color: #000;
  color: #f1f1f1;
  bottom: 0;
  left: 0;
}

.intro-wrapper {
  padding: 0 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.intro-img-wrapper {
  overflow: hidden;
  border: 1px solid #000;
  box-sizing: border-box;
}

.intro-img .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  cursor: pointer;
}

.intro-img .mask:hover {
  opacity: 1;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.intro-img .mask i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #f1f1f1;
  font-size: 50px;
  margin-top: -20px;
  margin-left: -20px;
}

